<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
         bootstrap="./src/modifier.badwords.php">
    <testsuites>
    <testsuite name="Default">
        <file>./tests/modifier.badwordsTest.php</file>
    </testsuite>
    </testsuites>
</phpunit>